.brand {
  font-size: 40px;
  font-family: Cambria;
  color: rgb(255, 20, 0);
  border: 8px rgb(40, 44, 127) solid;
  background-color: rgb(219, 231, 242);
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  gap: 1ch;
  height: 50vh;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: slategray;
  color: rgb(255, 240, 0);
  border: 8px purple solid;
  height: 40vh;
  font-size: 28px;
}

li {
  margin-bottom: 10px;
  padding-right: 20px;
}

.description {
  background-color: burlywood;
  padding: 2%;
  border: 8px black solid;
  margin: 1em;
}

footer {
  display: flex;
  width: 90vw;
  justify-content: center;
  font-size: 30px;
  font-family: Cambria;
  color: rgb(255, 20, 0);
  border: 8px rgb(40, 44, 127) solid;
  margin: 10px;
  background-color: rgb(219, 231, 242);
}
